
@import './variable';
@import './button';
@import './flexCenter';

body{
    background-color: $blackColor;
    color: $whiteColor;
}
.box-container{
    .card{
        width: 300px;
        height: 300px;
        h1{
            background-color: pink;
        }
        p{
            color: aqua;
        }
        button{
            @extend .button;
        }
    }
}
button{
    @extend .button;
}
.container{
   @include flexCenter(100vh, violet);
}
.wrapper{
    @include flexCenter(50vh, yellow);
}