@import "./variables";
@import './button';
@import './flexCenter';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background-color: $primaryColor;
  color: $whiteColor;
}

.w-container {
  .card {
    width: 300px;
    height: 300px;
    h1 {
      background-color: pink;
    }
    p {
      color: $whiteColor;
    }
    button {
        @extend .buttonStyle;
    }
  }
}
button {
    @extend .buttonStyle;
}
.container{
   @include flexCenter(100vh, green);
}
.wrapper{
    @include flexCenter(50vh, pink);
}
