@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.container{
    background-color: rgba(10, 10, 10);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    flex-direction: column;
}
#clock{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 3rem;
}
button{
    padding: 5px 20px;
    margin-top: 12px;
}
