@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: #000;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#clock{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 3rem;
}
button{
    padding: 5px 20px;
    margin-top: 12px;
}
