@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fafafa;
}
a {
  text-decoration: none;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: absolute;
    width: 100%;
    z-index: 1;
    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
    .nav-container {
      ul {
        display: flex;
        list-style-type: none;
        li {
          margin: 0px 15px;
          a {
            color: #fff;
            font-size: 20px;
          }
          i {
            color: #fff;
            margin-left: 10px;
          }
          .dropdown {
            display: none;
            flex-direction: column;
            background-color: rgb(237, 231, 231);
            border-radius: 10px;
            position: absolute;
            li {
              margin: 5px 15px;
            }
          }
        }
        .dropdown-container:hover {
          .dropdown {
            display: block;
          }
        }
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    margin: auto;
    max-width: 600px;
    text-align: center;
    color: #fff;
    z-index: 2;
    h1 {
      font-weight: 500;
      font-size: 40px;
      span {
        color: #e3e230;
        font-weight: 600;
      }
    }
    p {
      font-size: 18px;
    }
    a {
      display: inline-block;
      margin-top: 10px;
      border: 1px solid #fafafa;
      color: #e3e230;
      padding: 6px 12px;
      border-radius: 5px;
      font-weight: 600;
    }
    a:hover {
      background-color: #e3e230;
      color: rgba(0, 0, 0, 0.6);
      transition: 1s;
    }
  }
}
.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  .content {
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 16px;
      padding: 10px 16px;
    }
  }
}
