*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(34, 56, 82, 0.9);
}
#main{
    background: linear-gradient(to left, rgb(36, 59, 85), rgb(20, 30, 48));
    min-height: 100vh;
    .custom-main-item{
        height: 80vh;
        .bg-img{
            background: linear-gradient(
                to right,
                #4ac29a,
                #bdfff3
              );
           border-radius: 30% 70% 37% 63% / 33% 33% 67% 67% ;
           max-width: 450px;
           height: 350px;
           i{
               font-size: 9rem;
           }
        }
    }
    
}

.custom-shape-divider-bottom-1657726925 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1657726925 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 130px;
}

.custom-shape-divider-bottom-1657726925 .shape-fill {
    fill: #FFFFFF;
}

.profile{
    height: 80vh;
    img{
        width: 300px;
        height: auto;
        border: 10px solid #4ac29a;
        transform: skewY(7deg);
        box-shadow: -10px 10px, -15px 10px 30px;
    }
}