@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

#banner {
  width: 100%;
  height: 100vh;
  position: relative;
}

#banner header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 20px 30px;
  z-index: 1;
}

#banner header img {
  width: 50px;
  height: auto;
  object-fit: contain;
}

#banner header nav ul {
  display: flex;
  list-style: none;
}

#banner header nav ul li {
  margin: 0px 15px;
}

#banner header nav ul li a {
  color: #fff;
}

#banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#banner .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 600px;
  text-align: center;
  color: #fff;
}

#banner .content h1 {
  font-weight: 500;
  font-size: 40px;
}

#banner .content h1 span {
  color: #e3e230;
  font-weight: bold;
}

#banner .content p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

#banner .content a {
  border: 1px solid;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 15px;
  display: inline-block;
  font-weight: 600;
}

#banner .content a:hover {
  background-color: #e3e230;
  color: rgba(0, 0, 0, 0.6);
  transition: 1s;
}

#banner::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

#about img {
  width: 50%;
  object-fit: cover;
  margin-right: 20px;
}

#about .about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 600px;
}

#about .about-container i {
  font-size: 5vw;
  color: #7d7d7e;
}

#about .about-container .fa-quote-right {
  align-self: flex-end;
}

#about .about-container .about-content h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

#about .about-container .about-content p {
  text-indent: 50px;
  line-height: 30px;
}

#team h2 {
  text-align: center;
  text-decoration: overline #2fd2e3;
}

#team .card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 50px 50px;
  column-gap: 40px;
}

#team .card-container .card {
  width: 100%;
  max-height: 400px;
  padding: 20px;
  background: linear-gradient(45deg, #e3e230, #2fd2e3);
}

#team .card-container .card .img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

#team .card-container .card .img-container img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  transition: 1s;
}

#team .card-container .card .img-container:hover img {
  transform: scale(1.2);
}

#team .card-container .card .card-content {
  padding: 20px;
  text-align: center;
}

#contact {
  height: 90vh;
  background-color: #1e1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

#contact .contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

#contact .contact-form form input:not(input[type="button"]), #contact .contact-form form textarea {
  width: 80vw;
  max-width: 400px;
}

#contact .contact-form form input, #contact .contact-form form textarea {
  padding: 10px 20px;
  border-radius: 8px;
  border: 0;
}

#contact .contact-form form input:focus, #contact .contact-form form textarea:focus {
  outline: 2px solid #e3e230;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #2a2626;
}

footer p {
  color: #fafafa;
}

footer .social-container {
  display: flex;
}

footer .social-container a {
  margin: 10px;
  width: 35px;
  height: 35px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-container a:nth-child(1) {
  background-color: #3c5997;
}

footer .social-container a:nth-child(2) {
  background-color: #784f99;
}

footer .social-container a:nth-child(3) {
  background-color: #1ea1f1;
}

footer .social-container a:nth-child(4) {
  background-color: #2578b0;
}

@media screen and (max-width: 992px) {
  #banner header {
    padding: 20px 0px;
  }
  #banner .content {
    width: 100%;
  }
  #banner .content h1 {
    font-size: 25px;
  }
  #banner .content p {
    font-size: 16px;
    padding: 10px 5px;
    line-height: 25px;
  }
  #banner .content a {
    margin-top: 0;
  }
  #about {
    flex-direction: column;
    padding: 0;
  }
  #about img {
    width: 100%;
    margin-right: 0px;
  }
  #about .about-container {
    margin: 24px;
  }
  #team .card-container {
    display: block;
  }
  #team .card-container .card {
    margin-bottom: 20px;
  }
  footer {
    justify-content: center;
  }
  footer p {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */